
{namespace n=Tx_News_ViewHelpers}

<div class="news-slider-image">
	<n:link newsItem="{newsItem}" settings="{settings}">
		<f:if condition="{newsItem.sliderImage}">
			<f:then>
				<f:image src="{newsItem.sliderImage.publicUrl}" alt="{newsItem.sliderImage.alternative}" title="{newsItem.sliderImage.title}" width="{settings.sliderImageWidth}" height="{settings.sliderImageHeight}"/></f:then>
			<f:else>
				<f:image src="fileadmin/template/images/news_slider_default.jpg" alt="Standardbild für News" />
			</f:else>
		</f:if>
	</n:link>
</div>