
{namespace n=GeorgRinger\News\ViewHelpers}

<section class="news-slider-item">

	<f:render partial="Slider/SliderImage" arguments="{_all}"/>

	<div class="news-slider-contentwrapper">

		<div class="news-slider-fixed-height">

			<div class="news-slider-flexible-content">

				<header>
					<h3>
						<n:link newsItem="{newsItem}" settings="{settings}">
							{newsItem.title}
						</n:link>
					</h3>
				</header>

				<p><time datetime="{f:format.date(date:newsItem.datetime, format: 'c')}"><f:format.date format="%x">{newsItem.datetime}</f:format.date></time></p>

				<div class="news-slider-teaser">
					<f:render partial="Slider/SliderTeaser" arguments="{_all}" />
				</div>

				<div class="news-slider-fadeout"></div>

			</div>

			<div class="news-slider-more more-link">
				<n:link newsItem="{newsItem}" settings="{settings}" title="{f:translate(key:'tx_news_slideit_more_link_title', extensionName:'news_slideit')}">
					<f:translate key="tx_news_slideit_more_link_label" extensionName="news_slideit" />
				</n:link>
			</div>

		</div>

		<div class="news-slider-actions">
			<div class="news-slider-counter">
				{newsIteration.cycle} / {newsIteration.total}
			</div>
		</div>

	</div>

</section>