{namespace n=GeorgRinger\News\ViewHelpers}<!--
	=====================
		Partials/List/Item.html
-->
<div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}">
	<n:excludeDisplayedNews newsItem="{newsItem}" />
	<!-- header -->
	<div class="header">
		<{settings.list.headerTag}>
			<n:link newsItem="{newsItem}" settings="{settings}">
				{newsItem.title}
			</n:link>
		</{settings.list.headerTag}>
	</div>

	<f:if condition="{settings.hideNewsdate}">
		<f:then>

		</f:then>
		<f:else>
			<p class="news-list-date">
				<time datetime="{f:format.date(date: newsItem.datetime, format: 'Y-m-d')}"><f:format.date format="%x">{newsItem.datetime}</f:format.date></time>
			</p>
		</f:else>
	</f:if>

	<!-- teas=ser text -->
	<f:render partial="List/Teaser" arguments="{newsItem: newsItem, settings: settings}"/>

</div>
