{namespace n=GeorgRinger\News\ViewHelpers}

<f:layout name="Detail.html" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
	<f:if condition="{newsItem}">
		<f:then>

			<div class="header">
				<{settings.detail.headerTag}>{newsItem.title}</{settings.detail.headerTag}>
			</div>

			<f:cObject typoscriptObjectPath="lib.snippets.readspeaker_button" />

			<div class="footer">
				<p>
					<!-- date -->
					<span class="news-list-date">
						<time datetime="{f:format.date(date: newsItem.datetime, format: 'Y-m-d')}"><f:format.date format="%x">{newsItem.datetime}</f:format.date></time>
					</span>

					<f:if condition="{newsItem.categories}">
						<f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
					</f:if>

					<f:if condition="{newsItem.tags}">
						<!-- Tags -->
						<span class="news-list-tags">
						<f:for each="{newsItem.tags}" as="tag">
							{tag.title}
						</f:for>
						</span>
					</f:if>

					<f:if condition="{newsItem.author}">
						<!-- author -->
						<span class="news-list-author">
							<f:translate key="author" arguments="{0:newsItem.author}" />
						</span>
					</f:if>
				</p>
			</div>

			<f:render partial="Detail/Teaser" arguments="{newsItem: newsItem, settings: settings}"/>

			<f:if condition="{newsItem.contentElements}">
				<!-- content elements -->
				<f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering" data="{newsUid: newsItem.uidLocalized, newsPid: newsItem.pid}" />
			</f:if>

			<f:if condition="{settings.backPid}">
				<!-- Link Back -->
				<div class="news-backlink-wrap">
					<f:link.page pageUid="{settings.backPid}">
						<f:translate key="back_link" extensionName="news_slideit"/>
					</f:link.page>
				</div>
			</f:if>

		</f:then>
		<f:else>
			<div class="header">
				<{settings.detail.headerTag}><f:translate key="tx_news_slideit_no_news_seleted_header" extensionName="news_slideit"/></{settings.detail.headerTag}>
			</div>
			<p><f:translate key="tx_news_slideit_no_news_seleted_description" extensionName="news_slideit"/></p>
			<p><f:link.page pageUid="{settings.backPid}"><f:translate key="tx_news_slideit_no_news_seleted_back_link" extensionName="news_slideit"/></f:link.page></p>
		</f:else>
	</f:if>

</f:section>