{namespace n=Tx_News_ViewHelpers}
{namespace sl=Int\NewsSlideit\ViewHelpers}

<div class="news-simple-list">

	<f:for each="{news}" as="newsItem" iteration="newsIteration">

		<sl:overlayReferencedNews news="{newsItem}" name="overlayedNewsItem">

			<section class="news-simple-list-item">

					<time datetime="{f:format.date(date:overlayedNewsItem.datetime, format: 'c')}"><f:format.date format="%x">{overlayedNewsItem.datetime}</f:format.date></time>

					<header>
						<h2>
							<n:link newsItem="{overlayedNewsItem}" settings="{settings}">
								{overlayedNewsItem.title}
							</n:link>
						</h2>
					</header>

					<p class="news-simple-list-item-teaser">
						<f:cObject typoscriptObjectPath="lib.tx_news_slideit.contentElementRendering">
							{overlayedNewsItem.teaserContentElementIdList}
						</f:cObject>
					</p>

			</section>

		</sl:overlayReferencedNews>

	</f:for>

</div>
