{namespace n=GeorgRinger\News\ViewHelpers}

<f:render partial="List/RssLink" arguments="{_all}" />

<div class="news-simple-list">

	<f:if condition="{news}">

		<f:then>
			<f:for each="{news}" as="newsItem" iteration="newsIteration">

				<section class="news-simple-list-item">

					<header>
						<h3>
							<n:link newsItem="{newsItem}" settings="{settings}">
								{newsItem.title}
							</n:link>
						</h3>
					</header>

					<p class="news-simple-list-datetime"><time datetime="{f:format.date(date:newsItem.datetime, format: 'c')}"><f:format.date format="%x">{newsItem.datetime}</f:format.date></time></p>

					<p class="news-simple-list-item-teaser">
						<f:cObject typoscriptObjectPath="lib.tx_news_slideit.contentElementRendering" data="{newsUid: newsItem.uidLocalized, newsPid: newsItem.pid}" />
					</p>

					<div class="news-simple-list-more">
						<n:link newsItem="{newsItem}" settings="{settings}" title="{f:translate(key: 'tx_news_slideit_more_link_title', extensionName: 'NewsSlideit')}">
							[...]
						</n:link>
					</div>

				</section>

			</f:for>
		</f:then>

		<f:else>
			<div class="news-no-news-message news-simple-list-no-news-message">
				<p><f:translate key="no_news_available" extensionName="NewsSlideit"/></p>
			</div>
		</f:else>

	</f:if>
</div>
