
{namespace sl=Int\NewsSlideit\ViewHelpers}

<div class="news-slider">

	<f:if condition="{news}">

		<f:then>

			<f:for each="{news}" as="newsItem" iteration="newsIteration">

				<sl:overlayReferencedNews news="{newsItem}" name="overlayedNewsItem">

					<f:render partial="SliderItem" arguments="{newsItem: overlayedNewsItem, newsIteration: newsIteration}"/>

				</sl:overlayReferencedNews>

			</f:for>

		</f:then>

		<f:else>

			<div class="news-slider-no-items-message">
				<p>Zur Zeit sind keine News vorhanden</p>
			</div>

		</f:else>

	</f:if>

</div>
