<div class="news-slider rs_preserve {f:if(condition: '{inSideColumn}', then: 'news-slider-in-slide-column', else: 'news-slider-in-main-column')}">

	<f:if condition="{news}">

		<f:then>

			<f:for each="{news}" as="newsItem" iteration="newsIteration">

				<f:if condition="{inSideColumn}">
					<f:then>
						<f:render partial="Slider/SliderItemInSideColumn" arguments="{_all}"/>
					</f:then>
					<f:else>
						<f:render partial="Slider/SliderItem" arguments="{_all}"/>
					</f:else>
				</f:if>

			</f:for>

		</f:then>

		<f:else>

			<div class="news-no-news-message news-slider-no-news-message">
				<p><f:translate key="no_news_available" extensionName="NewsSlideit"/></p>
			</div>

		</f:else>

	</f:if>

</div>
